.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}

.gruppe1-container {
    display: flex;
    align-items: center;
    margin: 20px;
    width: 20px;
}

.gruppe1-container h1 {
    margin: 50px;
    border: 2px red solid;
    padding: 20px;
    margin-left: 20px;
}

.gruppe1-container img {
    margin-right: 20px;
}
